
footer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    padding: 6px;
}

footer svg {
    height: 24px;
    top: 6px;
    vertical-align: middle;
}

footer #messages {
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 6px;
    line-height: 24px;
}

footer #status {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 6px;
    line-height: 24px;
}
